.card_manu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(36, 36, 41);
  width: 400px;
  padding: 10px 20px;
  z-index: 10;
  border-radius: 15px;
}
.card_manu .arrenge {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid rgb(255, 255, 255, 0.4);
}
.card_manu .total_price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.card_manu .game_list {
  width: 100%;
  max-height: 500px;
  overflow-x: hidden;
}
.card_manu .iks {
  background: #fff;
  cursor: pointer;
}
.card_manu .save {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
